
       
     
         	
# head-1 {
	    color:tomato;
	background-image:url("img2.jpg");
	background-repeat:no-repeat;
    background- size:cover; 
	
	
	background-position:top;
    background-attachment:fixed;
    border:2px dashed green;
    border:radius:200px;
    padding:20px;
    margin:100px;
}

.heading-1{
         
         color:red;
         
        }
.heading-1{
        color:green;
   }

.img-1{
    text-align:center;
    width:600px;
    height:300px;
    
}